body{
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
hr {
    border-color: black;
    border-style: dotted none none;
    border-width: 8px;
    width: 70px;
    margin: 100px auto;
}
h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}
p{
    color: #8f8f8f;
}

.top-container{
    background-color: rgb(85, 116, 255);
    height: 100vh;
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    color:#3C4563;
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-family: 'Ubuntu', sans-serif;
}
li{
    padding: 0 25px;
}
/* ~~~~~~~~~~~~~~ */



/* Ball */
.ball1{
    width: 60%;
    height: 50%;
    background-color: #fff;
    position: absolute;
    opacity: 0.16;
	border-radius: 0 0 0 100%;
    top: -170px;
    right: 0px;
}
.ball2{
    width: 30%;
    height: 50%;
    background-color: #fff;
    position: absolute;
    border-radius: 0% 100% 0% 100%;
    opacity: 0.16;
    bottom: 0px;
    left: -380px;
}
/* ~~~~~~ */



/* Description title */
.slide1{
    max-width: 900px;
    z-index: 4;
}
.desc{
    padding: 250px 60px 100px 60px;
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 2.3rem;
    line-height: 1.5;
    width: 100%;
    color: white;
}
/* ~~~~~~~~~~~~~~~~~ */



/* Button Download */
.button{
    position: relative;
    left: 15%;
}
.btn1{
    z-index: 99;
    box-shadow: 0 20px 30px -6px rgba(171,88,219,0.5);
    cursor: pointer;
    color: white;
    margin: 5% 3% 5% 0;
}
/* ~~~~~~~~~~~~~~~ */



/* Phone Logo */
.phone{
    position: absolute;
    margin-top: 200px;
    width:41%;
        
}
.math{
    position: absolute;
    margin-top: 405px;
    margin-left: -13rem;
    width: 15%;
}
.selfie{
    z-index: 4;
    position: absolute;
    width: 15%;
    margin-top: 360px;
    margin-left: 190px;
}
.appreciation{
    position: absolute;
    width: 5%;
    margin-top: 160px;
    margin-left: 220px;
}
/* ~~~~~~~~~~~~~~~ */



/* Button Down */
.bi{
    width: 35px;
    height: 35px;
}
.bawah{
    z-index:9999;
    position: absolute;
    bottom: 0;
    left: 100vh;
    color: #fff;
    text-decoration: none;
    margin: 10px auto;
}
/* ~~~~~~~~~~~~` */


/* Middle Container */
.middle-container{
    padding-top: 100px;
    background-color: #fafafa;
    height: 100vh;
}
/* ~~~~~~~~~~~~~~~~ */


/* Carousel2 */
.feature{
    width: 400px;
    left: 3rem;
}
.wh-500{
    height: 600px;
    max-width: 300px;
    margin: auto;
}
.carousel-caption{
    position:absolute;
    top: -1.5rem;
} */
/* ~~~~~~~~~~ */

.middle-container-2{
    height: 100vh;
    background-color: #3c4563;
    margin: auto;
}

/* Logos */
.icon{
    color: #fd5d41;
    margin-bottom: 2rem;
}

.icon:hover{
    color: #c53e26;
}

#benefits{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

@media only screen and (max-width: 768px) {
    

/* Phone Logo */
.phone{
    margin-top: -4px;
    width:50%;
        
}
.math{
    display: none;
}
.selfie{
    z-index: 4;
    width: 25%;
    margin-top: 61px;
    margin-left: 60px;
}
.appreciation{
    /* position: absolute; */
    width: 25%;
    margin-top: -130px;
    margin-left: 100px;
}
/* ~~~~~~~~~~~~~~~ */



/* Button Down */
.bawah{
    display: none;
}
/* ~~~~~~~~~~~~` */

  }
